
.login-container .ant-layout-content .site-layout-background{
    width:50%;
    margin: 0 auto;
}

.regist-container .ant-layout-content .site-layout-background{
    width:50%;
    margin: 0 auto;
}
