
.login-container .ant-layout-content .site-layout-background{
    text-align: center;
    width:36%;
    height: 75vh;
    margin: 0 auto;
}

.login-container .ant-layout-content .site-layout-background #normal_login {
    margin-top: 100px;
}

.regist-container .ant-layout-content .site-layout-background{
    text-align: center;
    width:36%;
    height: 75vh;
    margin: 0 auto;
}

.regist-container .ant-layout-content .site-layout-background #register {
    margin-top: 100px;
}